/* ======================================================================== */
/* -------------------------- BECOME A NOTARY PAGE ------------------------ */
/* ======================================================================== */




.banner-image-become {
        background-image: url('https://notarypublicassociation.lightning.force.com/cms/media/MCLONXS2ZGPBBOVF2CRH37NPZJ6U?version=1.2');
        background-size: contain; /* Adjusts image to cover the entire container */
        background-position: center right; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
	margin-top: 20px;
    	margin-bottom: 20px;
}

/* ------------- Sticky Menu ------------- */
.sticky-menuWrapper {
	position: relative; /* Default position */
	top: 0;
	width: 100%;
	background: white;
	padding: 10px;
	z-index: 100;
	transition: all 0.3s ease-in-out;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#sticky-menuLink {
    	text-decoration: none !important;
}

.sticky-menuButton {
    	display: block;
    	background: #fff;
    	padding: 10px 12px;
    	border-radius: 8px;
    	color: #333;
	width: 120px;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
}

.sticky-menuButton:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
}

.sticky-menuButton.active {
	background-color: #217c7c;
	color: #fff;
	transition: background-color 0.3s ease-in-out;
}

.sticky {
 	position: fixed;
 	top: 89px;
	left: 0;
	z-index: 100;
	width: 100%;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	justify-content: center;	
}

.divider {
        background-color: #e3e8ef;
        width: 1px;
        height: 16px;
        margin: auto 21px auto 21px;
}

/* ------------- Requirements Box ------------- */

.requirements-list_Wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 10px;
	border: 1px solid #e3e8ef;
	padding: 15px 20px;
	border-radius: 16px;
}

.requirements-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	line-height: 100%;
	gap: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.requirements-list_Text {
	font-weight: 500;
	font-size: 14px;
}

.horizontal-divider {
	background-color: #e3e8ef;
	width: 100%;
	height: 1px;
}

/* ------------- Traditional - Banner ------------- */

.banner-image-traditional {
	background-image: url('https://notarypublicassociation.lightning.force.com/cms/media/MCIWAB35HR7VFLXPLK2WMT227FK4?version=1.1');
        background-size: contain; /* Adjusts image to cover the entire container */
        background-position: bottom; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
	margin-bottom: -20px!important;
}
    
/* Hero Section Pill */

.HeroSection_pillWrapper {
        margin-bottom: 20px;
}

.banner-section-pill {
        background-color: white;
        font-weight: 500;
        line-height: 1;
        padding: 8px 12px;
        align-items: center;
        justify-content: center;
        border-radius: 64px;
        display: flex;
        gap: 8px;
        font-size: 18px;
        flex: 0;
        width: fit-content;
}
.themePill {
	color: #217c7c;
	border: 1px solid rgb(203, 234, 233);
	background-color: white;
}



.banner-section-pill-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        font-size: 18px;
}

.banner-section-pill-icon i.fa-solid {
    font-size: 1.125rem !important;
}

.banner-section-pill-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .25rem;
        font-size: 18px;
	font-weight: 400;
}

.banner-section-heading {
	margin: 24px 0px;
	color: inherit;
	font-size: 40px;
	font-weight: 700;
	line-height: 120%;
}

.banner-section-description {
	margin: 0px 0px 32px;
	color: inherit;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
}

.highlight {
	color: #217c7c;
	font-weight: 600;
}

.inline_doubleButton {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.ContentSection_contentImage_traditional {
	background-image: url(https://notarypublicassociation.lightning.force.com/cms/media/MCSQ7GXZPRT5HNREC3C5L7PSAJKQ?version=1.1);
	background-size: cover;
	background-position: center;
        background-repeat: no-repeat;
}

/* ====================================================== */    
/* ------------- Electronic - How to Apply ------------- */
/* ====================================================== */ 
    
/* TIMELINE BASE STYLES */
.timeline {
    	position: relative;
    	padding: 30px;
    	margin: 0 auto;
    	overflow: hidden;
    	color: #ffffff;
    	width: 100%;
}
	
.timeline:after {
    	content: "";
    	position: absolute;
    	top: 0;
    	left: 50%;
    	margin-left: -1px;
    	border-right: 2px solid #ecf0f4;
    	height: 100%;
    	display: block;
}

/* TIMELINE ROW STYLES */
.timeline-row {
    	padding-left: 50%;
    	position: relative;
    	margin-bottom: 30px;
}

.timeline-row .timeline-content {
    	position: relative;
    	padding: 20px 30px;
    	border-radius: 10px;
    	z-index: 3000;
}

.timeline-row .timeline-content:after {
    	content: "";
    	position: absolute;
    	top: 45%;
    	height: 40px;
    	width: 40px;
}

.timeline-row .timeline-content:before {
    	content: "";
    	position: absolute;
    	top: 48.5%;
    	right: -50px;
    	width: 20px;
    	height: 20px;
    	border-radius: 100px;
    	z-index: 100;
    	border: 2px solid #2575fc;
    	background: #ffffff;
}

/* ============================= */
/* TIMELINE CONTENT STYLES */
/* ============================= */

/* Header */
.timeline-row .timeline-content h4 {
        margin: 0 0 20px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 150%;
        color: #000000;
        font-family: Xfinity Standard;
        font-weight: 400;
        font-size: 22px;
}

/* Description */
.timeline-row .timeline-content p {
        margin-bottom: 30px;
        line-height: 150%;
        color: #000000;
        font-family: Xfinity Standard;
        font-weight: 400;
        text-align: justify;
}

/* Icon */
.timeline-row .timeline-content #icon-1,
.timeline-row .timeline-content #icon-2,
.timeline-row .timeline-content #icon-3,
.timeline-row .timeline-content #icon-4,
.timeline-row .timeline-content #icon-5,
.timeline-row .timeline-content #icon-6 {
        font-size: 22px;
        height: 50px;
        width: 50px;
        color: #ffffff;
        line-height: 100%;
        border-radius: 100px;
        margin-bottom: 10px;
        display: inline-block;
        align-content: center;
}

.timeline-row .timeline-content .thumbs {
        margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
        margin-bottom: 10px;
}

/* ============================= */
/* TIMELINE EVEN & ODD ROWS */
/* ============================= */

/* EVEN ROWS */
.timeline-row:nth-child(even) .timeline-content {
        background-color: #ffffff;
        margin-left: 40px;
        text-align: justify;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, .1);
}

.timeline-row:nth-child(even) .timeline-content:after {
        left: -39px;
        border-right: 20px solid #fff;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
        left: -50px;
        right: initial;
}

/* ODD ROWS */
.timeline-row:nth-child(odd) {
        padding-left: 0;
        padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-content {
        background-color: #ffffff;
        margin-right: 40px;
        margin-left: 0;
        text-align: right;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, .1);
}

.timeline-row:nth-child(odd) .timeline-content:after {
        right: -39px;
        border-left: 20px solid #ffffff;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
}

.timeline-row:nth-child(odd) .timeline-time {
        right: auto;
        left: 50%;
        text-align: left;
        margin-right: 0;
        margin-left: 20px;
}

/* ELECTRONIC WATERMARK ICONS */
.timeline-row .watermark-icon-wrapper {
    	position: absolute;
    	line-height: 1;
    	pointer-events: none;
    	transition: all .4 ease;
    	width: 150px;
    	height: 150px;
    	vertical-align: middle;
}

.timeline-row:nth-child(odd) .watermark-icon-wrapper {
    	bottom: 3%;
    	left: 2%;
    	align-content: flex-end;
    	text-align: left;
}

.timeline-row:nth-child(even) .watermark-icon-wrapper {
    	bottom: 3%;
    	right: 1%;
    	align-content: flex-end;
    	text-align: right;
}

#watermark-icon {
    	font-size: 120px;
    	opacity: 0;
    	color: inherit;
	}
    
.timeline-row:hover #watermark-icon { opacity: .15;}

/* Watermark Background Colors */
#icon-1 { background: #0ccbf4; text-align: center; }
#icon-2 { background: #945fff; text-align: center; }
#icon-3 { background: #3f8ee9; text-align: center; }
#icon-4 { background: #f26f9b; text-align: center; }
#icon-5 { background: #dc432b; text-align: center; }
#icon-6 { background: #0ab787; text-align: center; }

    /* ============================= */
    /* HOVER EFFECTS */
    /* ============================= */

    /* Row - 1 */
    #row-1:hover {
        .timeline-content {
            background: #0ccbf4;
            transition: all .4 ease;
        }

        .timeline-content::after {
            right: -39px;
            border-left: 20px solid #0ccbf4;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
        }

        p, h4 {
            color: #fff;
        }

        #icon-1 {
            background: #ffffff;
            color: #0ccbf4;
        }

        .timeline-content::before {
            background: radial-gradient(circle, #2575fc 0px, #2575fc 5px, #ffffff 5px, #ffffff 10px);
        }
    }

    /* Row - 2 */
    #row-2:hover { 
        .timeline-content {
            background: #945fff;
            transition: all .4 ease;
        }

        .timeline-content::after {
            left: -39px;
            border-right: 20px solid #945fff;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
        }

        p, h4 {
            color: #fff;
        }

        #icon-2 {
            background: #ffffff;
            color: #945fff;
        }

        .timeline-content::before {
            background: radial-gradient(circle,
                        #2575fc 0px,
                        #2575fc 5px,
                        #ffffff 5px,
                        #ffffff 10px);
        }
    }

    /* Row - 3 */
    #row-3:hover {
        .timeline-content {
            background: #3f8ee9;
            transition: all .4 ease;
        }

        .timeline-content::after {
            right: -39px;
            border-left: 20px solid #3f8ee9;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
        }

        p, h4 {
            color: #fff;
        }

        #icon-3 {
            background: #ffffff;
            color: #3f8ee9;
        }

        .timeline-content::before {
            background: radial-gradient(circle,
                        #2575fc 0px,
                        #2575fc 5px,
                        #ffffff 5px,
                        #ffffff 10px);
        }
    }

    /* Row - 4 */
    #row-4:hover {
        .timeline-content {
            background: #f26f9b;
            transition: all .4 ease;
        }

        .timeline-content::after {
            left: -39px;
            border-right: 20px solid #f26f9b;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
        }

        p, h4 {
            color: #fff;
        }

        #icon-4 {
            background: #ffffff;
            color: #f26f9b;
        }

        .timeline-content::before {
            background: radial-gradient(circle,
                        #2575fc 0px,
                        #2575fc 5px,
                        #ffffff 5px,
                        #ffffff 10px);
        }
    }

    /* Row - 5 */
    #row-5:hover {
        .timeline-content {
            background: #dc432b;
            transition: all .4 ease;
        }

        .timeline-content::after {
            right: -39px;
            border-left: 20px solid #dc432b;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
        }

        p, h4 {
            color: #fff;
        }

        #icon-5 {
            background: #ffffff;
            color: #dc432b;
        }

        .timeline-content::before {
            background: radial-gradient(circle,
                        #2575fc 0px,
                        #2575fc 5px,
                        #ffffff 5px,
                        #ffffff 10px);
        }
    }

    /* Row - 6 */
    #row-6:hover {
        .timeline-content {
            background: #0ab787;
            transition: all .4 ease;
        }

        .timeline-content::after {
            left: -39px;
            border-right: 20px solid #0ab787;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
        }

        p, h4 {
            color: #fff;
        }

        #icon-6 {
            background: #ffffff;
            color: #0ab787;
        }

        .timeline-content::before {
            background: radial-gradient(circle,
                        #2575fc 0px,
                        #2575fc 5px,
                        #ffffff 5px,
                        #ffffff 10px);
        }
    }

    /* ============================= */
    /* RESPONSIVE STYLES */
    /* ============================= */

    /* Media 992-1200 */
    @media (min-width: 992px) and (max-width: 1200px) {
        .timeline {
            padding: 30px 0px;
        }

        .timeline-row .timeline-content.e-one,
        .timeline-row .timeline-content.e-three,
        .timeline-row .timeline-content.e-five {
            margin-left: 5px
        }

        .timeline-row .timeline-content h4 {
            font-size: 20px!important ;
            text-wrap: wrap;
        }

        .timeline-content.e-four h4 {
            text-align: left;
        }

        .timeline-row .timeline-content p {
            font-size: 16px!important ;
        }

         .container {
            max-width: 960px;
            margin-left: 0 auto;
            margin-right: 0 auto;
        } 

        .timeline-content.e-one,
        .timeline-content.e-two,
        .timeline-content.e-three,
        .timeline-content.e-four,
        .timeline-content.e-five,
        .timeline-content.e-six {
            width: 400px;
        }
    }

    /* Media 768-992 */
    @media (min-width: 768px) and (max-width: 992px) {
        .timeline {
            padding: 30px 10px;
        }

        .container {
            max-width: 850px;
        }

        /* Odd rows */
        .timeline-row:nth-child(odd) {
            padding-left: 0;
            padding-right: 50%; /* Keep padding-right: 50% intact */
        }

        .timeline-row:nth-child(odd) .timeline-content {
            margin-left: auto; /* Align content to the right */
            margin-right: 40px; /* Prevent additional shifting */
            max-width: 325px; /* Set a consistent max width for the content */
        }

        /* Even rows */
        .timeline-row:nth-child(even) .timeline-content {
            margin-left: 45px; /* Adjust margin for even rows */
        }

        /* Text and layout adjustments */
        .timeline-row .timeline-content h4 {
            font-size: 18px !important;
            word-wrap: break-word;
            font-weight: 500;
        }

        .timeline-row .timeline-content p {
            font-size: 14px !important;
            word-wrap: break-word;
        }

        /* Ensure consistent width for all timeline content */
        .timeline-content.e-one,
        .timeline-content.e-two,
        .timeline-content.e-three,
        .timeline-content.e-four,
        .timeline-content.e-five,
        .timeline-content.e-six {
            max-width: 325px;
        }
        
        .timeline-row:nth-child(odd) .timeline-content {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, .1);
        }
        
        .timeline-row:nth-child(even) .timeline-content {
            box-shadow: -5px 5px 20px rgba(0, 0, 0, .1);
        }

        .timeline-row:nth-child(odd) .timeline-content:before {
            right: -50px !important; /* Preserve the timeline connection dot positioning */
        }

        .timeline-row:nth-child(even) .timeline-content:before {
            left: -55px !important; /* Preserve the timeline connection dot positioning */
        }

        .timeline-content.e-four h4 {
            text-align: left;
        }
    }

    /* Media < 768 */
    @media (max-width: 768px) {
        /* TIMELINE BASE STYLES */
        .timeline {
            padding: 15px 10px;
        }
        
        .timeline:after {
            display: none;
        }

        /* TIMELINE ROW STYLES */
        .timeline .timeline-row {
            padding-left: 0;
            margin-bottom: 16px;
        }

        .timeline .timeline-row:nth-child(odd),
        .timeline .timeline-row:nth-child(even) {
            padding-right: 0;
        }

        .timeline .timeline-row:nth-child(odd) .timeline-content,
        .timeline .timeline-row:nth-child(even) .timeline-content {
            text-align: center;    
            margin: auto 0;
        }

        .timeline-row:nth-child(odd) .timeline-content:before ,
        .timeline-row:nth-child(even) .timeline-content:before {
            display: none;
        }
        
        .timeline-row:nth-child(odd) .timeline-content:after ,
        .timeline-row:nth-child(even) .timeline-content:after {
            display: none;
        }

        /* TIMELINE CONTENT STYLES */
        .timeline-row .timeline-content {
            padding: 30px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        .timeline-row .timeline-content h4 {
            font-size: 18px!important ;
            text-wrap: wrap;
        	padding: 0 10px;
        }
        
        .timeline-row .timeline-content p {
            margin-bottom: 0px ;
        }
        
        .timeline-row:nth-child(odd) .timeline-content,
        .timeline-row:nth-child(even) .timeline-content {
            box-shadow: 0 0 15px rgba(0, 0, 0, .1);
		}

        /* TIMELINE ICON STYLES */
        .timeline .timeline-row .timeline-icon {
            top: 52px;
            left: -2px;
            margin-left: 0;
        }

        /* TIMELINE ANIMATIONS */
        .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
            left: 20px;
        }

        .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
            left: 0;
        }
        
        .watermark-icon-wrapper {
            display: none;
        }
    }    
    
/* ------------- Traditional - Packages Table ------------- */
    .gradient-column {
        background: linear-gradient(to bottom, #B2E190, #E0F89E); /* Vertical gradient */
        height: 100%; /* Ensure the column is fully covered */
        min-width: 100%; /* Optional: Ensure full width if necessary */
        padding: 0px; /* Optional: Add padding inside the column */
    }

    /* Table Container */
    .table-container {
        display: flex;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0px 25px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    /* Table Styling */
    .comparison-table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }

    /* Table Header */
    .table-header th {
        font-size: 18px;
        font-weight: bold;
        padding: 15px;
        text-align: center;
    }

    .empty-header {
        background: white;
        text-align: left;
    }

    .package {
        font-weight: bold;
        text-align: center;
    }

    .price {
        font-size: 16px;
        display: block;
        color: #333;
        text-align: center;
    }

    th.package.package-essential {
        color: #217c7c;
    }

    th.package.package-enhanced {
        color: #009E96;
    }

    th.package.package-ultimate {
        color: #3754A5;
    }

    /* Row Styling */
    .table-body .table-row td {
        padding: 15px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        border-left: 1px solid #eee;
    }

    /* Feature Column */
    .feature-name {
        text-align: left;
        font-weight: bold;
        border-left: 0px !important;
    }


    td.check.check-essential,
    td.check.check-enhanced,
    td.check.check-ultimate {
        text-align: center;
    }

    i.fa-solid.fa-circle-xmark {
        color: #f8164f;
    }

    i.fa-solid.fa-circle-check.essential {
        color: #217c7c;
    }

    i.fa-solid.fa-circle-check.enhanced {
        color: #009E96;
    }

    i.fa-solid.fa-circle-check.ultimate {
        color: #3754A5;
    }

    .fas,
    .fa-solid {
        font-weight: 900;
        font-size: 1.5rem;
    }

    /* Last Row (Merged) */
    .get-started-cell {
        text-align: center;
        border: 0px !important;
        padding: 0px !important;
    }

    .get-started-button {
        background-color: #1e5bff !important;
        color: #ffffff !important;
        padding: 12px 20px;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 50px;
    }

/* ------------- Traditional - FAQ ------------- */
    .traditional-faq-container {
        background-color: #90dfa2;
    }

    details[open] summary.lwc-4r1413ceuog {
        background-color: #a2ffb7;
        transition: background-color 0.3s ease-in-out;
    }

    hr.lwc-hpv24absc3 {
        height: 0px !important;
    }

    webruntime-component-container.lwc-6dnmjs1s9oi.component-wrapper-spacer.lwc-4k1qbp7cls1-host {
        margin-bottom: 0px !important;
    }

    .lwc-4r1413ceuog.title {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .lwc-79drvfleods-host {
        justify-items: center;
    }   

	/* ------------- Commission Comparison Table ------------- */

	/* Component Height */
	.comparison-table-html-1 .lwc-1nf8r8ii43j.cb-outputRichText-container {
		height: 770px;
	}

	.comparison-table-html-2 .lwc-1nf8r8ii43j.cb-outputRichText-container {
		height: 800px;
	}

	.comparison-table-html-3 .lwc-1nf8r8ii43j.cb-outputRichText-container {
		height: 800px;
	}

	/* Table Title */

	h3.chart-title {
		font-size: 24px;
		text-align: center;
		padding: 12px 0px;
	}

	/* Container */
	.comparison-container {
		position: relative;
		max-width: 1056px;
		margin: auto;
		font-family: Xfinity Standard;
	}
	
	/* Layer 1: Background Rows */
	.row-layer {
		display: grid;
		grid-template-rows: repeat(8, 1fr);
		gap: 10px;
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	
	.row.header {
		background-color: unset;
	}
	
	.row {
		background-color: #217c7c;
		height: 80px;
	}
	
	/* Layer 2: Column Overlays */
	.column-layer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		position: absolute;
		width: 1000px;
		height: 100%;
		z-index: 2;
		top: 0;
		max-width: 1056px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.table-one-column, .table-two-column, .table-three-column {
		background-color: rgba(143, 210, 205, 0.5);
		text-align: center;
		font-size: 18px;
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 745px;
	}

	.table-two-column {
    		height: 485px;
	}

	.table-three-column {
    		height: 685px;
	}
	
	.label-column {
	    	background-color: unset;
	    	width: 280px;
	}
	
	.text-column {
		width: 232px;
	}

	.blank-text-column {
		background-color: unset;
		width: 232px;
	}
	
	.has-margin-right {
		margin-right: 13px;
	}
	
	/* Layer 3: Text Content */
	.text-layer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: repeat(8, 1fr);
		position: absolute;
		width: 1000px;
		height: 100%;
		z-index: 3;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.label {
		color: white;
		font-weight: 400;
		font-size: 18px;
	}
	
	.label-wrapper {
	    display: flex;
	    align-items: center;
	    padding-left: 25px;
	    width: 255px;
	    height: 80px;
	    margin-bottom: 10px;
	}
	
	.label-icon-wrapper {
	    width: 35px;
	    text-align: left;
	}
	
	i#label-icon {
	    font-size: 22px;
	    color: #57a9a4;
	}
	
	.text.header.label-header {
	    width: 280px;
	    padding: 0px;
	    height: 90px;
	}
	
	.text.header {
	    height: 80px;
	    font-size: 22px;
	    font-weight: 500;
	    align-content: flex-start;
	    padding: 20px 11px 0px;
	}
	
	.text.header span {
	    line-height: 1;
	    display: inline-block;
	    padding: 0;
	    margin: 0;
	    font-size: 14px;
	}
	
	.text {
	    text-align: center;
	    font-weight: 400;
	    font-size: 16px;
	    height: 70px;
	    align-content: center;
	    padding: 10px 11px;
	    width: 232px;
	}
	
	/* Tablet */
	@media (max-width: 1060px) {
	    .comparison-container {
	        width: 760px; /* Ensures proper width */
	        margin: 0 auto; /* Centers it horizontally */
	        display: flex;
	        flex-direction: column;
	        align-items: center;
	        justify-content: center;
	    }
	
	    .row-layer {
	        width: 760px; /* Matches container width */
	        margin: 0 auto;
	    }
	    
	    .row.header {
	        height: 70px;
	    }
	
	    .label-wrapper, .row {
	        height: 90px;
	    }
	
	    .text-layer {
	        max-width: 725px;
        	left: 47.5%;
	    }
	
	    .column-layer {
	        left: 47.5%;
	        transform: translateX(-50%); /* Center it */
	        height: 100%;
	        z-index: 2;
	        top: 0;
		max-width: 725px;
	    }
	
	    .text.header.label-header {
	        width: 225px;
	        height: 100px;
	        font-size: 16px;
	    }
	
	    .label-wrapper {
	        padding-left: 15px;
		width: 225px;
        	margin: 0px 0px 10px;
	    }
	
	    .label-column {
	        width: 225px;
	        margin: 0 auto;
	    }
	
	    .text-column {
	        width: 160px;
	        height: 800px;
	    }
	
	    .label-icon-wrapper {
	        width: 30px;
	    }
	
	    i#label-icon {
	        font-size: 20px;
	    }
	
	    .label {
	        font-size: 16px;
	    }
	
	    .text.header {
	        height: 100px;
	        font-size: 16px;
	    }
	
	    .text.header span {
	        font-size: 12px;
	    }
	
	    .text {
	        text-align: center;
	        font-size: 14px;
	        width: 160px;
	        height: 90px;
	    }
	
	    .has-margin-right {
	        margin-right: 7px;
	    }
	}
	
	/* Hide on mobile */
	@media (max-width: 780px) {
	    .comparison-container {
	        display: none;
	    }
	}
