/* HTML Container */
.overflow-is-visible.lwc-2ge5gsv3nr1-host .lwc-1nf8r8ii43j-host {
    overflow: visible!important;
}

/* Navigation Wrapper */
.navbar-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-grow: 1;
    z-index: 1;
    gap: 22px;
    padding: 0;
    font-size: inherit;
    height: 60px;
}

/* Dropdown Container */
.dropdown-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Dropdown Toggle */
.dropdown-toggle {
    font-weight: 400;
    display: inline-block;
    gap: 6px;
    cursor: pointer;
    font-size: inherit;
    padding: 10px 15px;
    transition: color 0.3s ease, font-weight .3s ease;
    font-family: xfinity standard;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    width: 165px;
    text-align: center;
}

.dropdown-toggle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #217c7c;
    transform: scaleX(0); /* Start hidden */
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
}

.dropdown-toggle:hover::after {
    transform: scaleX(1); /* Expand underline */
    transform-origin: left;
}

.dropdown-toggle:hover {
    color: #217c7c;
    font-weight: 500;
}

/* Navigation Button */
.navigationButton {
    font-weight: 400;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    cursor: pointer;
    font-size: inherit;
    padding: 10px 15px;
    transition: color 0.3s ease;
    font-family: xfinity standard;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    width: 165px;
    text-align: center;
}

.navigationButton::after {
    content: "";
    position: absolute;
    left: var(--lwc-spacingNone, 0);
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #217c7c;
    transform: scaleX(0); /* Start hidden */
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
}

.navigationButton:hover {
    color: #217c7c;
    font-weight: 500;
    transition: color .3 ease;
}

.navigationButton:hover::after {
    transform: scaleX(1); /* Expand underline */
    transform-origin: left;
}

#dropdown-chevron {
    font-size: 10px;
    transition: transform .3s ease;
}
/* Chevron Rotation */
.dropdown-toggle:hover #dropdown-chevron {
    transform: rotate(180deg);
    transition: transform 0.3s ease;

}

/* Default dropdown menu - Centered */
.dropdown-menu {
    position: absolute;
    top: 160%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 800px; /* Fixed width */
    left: 50%;
    transform: translateX(-28.3%); /* Ensures it stays centered */
    transition: opacity 0.2s ease-in-out, visibility 0.2s, transform .3s ease;
}

/* Move second dropdown slightly left */
.dropdown-menu.dropdown-second {
    left: var(--lwc-spacingNone, 0%) !important; /* Move it left */
    transform: translateX(-79.55%) !important;
transition: transform 0.2s ease-in-out;
}

/* Make dropdown visible when active */
.dropdown-toggle.dropdown-active + .dropdown-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* Enable interaction */
}

/* Move dropdown arrow dynamically */
.dropdown-arrow {
    position: absolute;
    top: -10px; /* Move arrow above the menu */
    left: var(--arrow-position, 50%); /* Default: center */
    transform: translateX(-50%) rotate(45deg); /* Rotated for triangle effect */
    width: 20px;
    height: 20px;
    background-color: white;
    z-index: 9999;
}

.dropdown-content-box {
    width: 900px;
    background-color: white;
    border-radius: 24px;
    margin: auto;
    z-index: 9998;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    gap: 10px;
    padding: 18px;
    overflow: hidden;
    -webkit-filter: drop-shadow(0px 0px 40px rgba(52, 85, 135, 0.2));
    -moz-filter: drop-shadow(0px 0px 40px rgba(52, 85, 135, 0.2));
    -ms-filter: drop-shadow(0px 0px 40px rgba(52, 85, 135, 0.2));
    filter: drop-shadow(0px 0px 40px rgba(52, 85, 135, 0.2));
    -webkit-filter: drop-shadow(0px 0px 40px rgba(52, 85, 135, 0.2))
}

.dropdown-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
}

/* Dropdown Header */
.dropdown-header {
    -webkit-transition: width 0.3sease;
    transition: width 0.3sease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 32px;
    padding: 0px 42px 0px 24px;
    position: relative;
}

/* Dropdown Icon Box */
.dropdown-icon-box {
    gap: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.dropdown-icon {
    width: 66px;
    height: 66px;
    border-radius: 100%;
    font-size: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    
}

.dropdown-icon_Blue {
    color: #38a5c8;
    background-color: #e9f6fb; 
}

.dropdown-icon_Purple {
    color: #8b5acc;
    background-color: #d5d4f8;  
}

.dropdown-title {
    font-family: Xfinity Standard;
}

/* Dropdown Button */
.dropdown-button {
    background-color: #217c7c;
    border: none;
    padding: 20px 32px;
    border-radius: 999px;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .3sease, color .3sease;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 20px;
    text-decoration: none;
    font-family: Xfinity Standard;
}

/* Dropdown Links */
.dropdown-links-box {
    -webkit-transition: width 0.3sease;
    transition: width 0.3sease;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-radius: 24px;
    position: relative;
}

.dropdown-blueBox {
    background-color: #e9f6fb;  
}

.dropdown-purpleBox {
    background-color: #d5d4f8;  
}

/* Dropdown Links Grid */
.dropdown-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(4, 1fr); /* 5 rows */
    gap: 8px;
    padding: 16px;
    position: relative;
}

.dropdown-links-supplies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 8px;
    padding: 16px;
    position: relative;
}

/* First Header Spans 2 Columns */
.header-span {
    grid-column: span 2;
}

/* Default Link Styles */
.dropdown-links a, .dropdown-links-supplies a {
    text-decoration: none!important;
    color: #000!important;
    line-height: 1;
}

#no-toggle {
    text-decoration: none;
    color: #000;
    padding: 0px;
    display: flex;
}

/* Link Containers */
.link-wrapper, .non-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: transparent;
}

.link-wrapper { 
    cursor: pointer;
    padding: 8px 16px;
}

/* Header Row Styling */
.non-link-wrapper {
    background-color: #d4eff8;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
}

.dropdown-blueBox .link-wrapper:hover {
    background-color: #d4eff8;
}

.dropdown-purpleBox .link-wrapper:hover {
    background-color: #c4c3fa;
}

.link-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}

.link-text, .non-link-text {
    margin: 0;
    font-family: Xfinity Standard;
    color: inherit;
    font-size: 14px;
    line-height: 150%;
}

.link-text {
    font-weight: 400;
}

.non-link-text {
    font-weight: 600;
}
