/* -------------------------- MY ACCOUNT PAGES ---------------------------- */
/* ======================================================================== */

.account-content-title h3 {
    color: #404D61;
    font-family: 'DM Sans';
    font-weight: 600;
    line-height: 40px;
    word-wrap: break-word;
    font-size: 27px;
}

.account-content-card .slds-truncate {
    font-family: 'DM Sans';
}

.my-account_payment .addPaymentMethodHeader {
    display: none!important;
}

.account-content-card .slds-card,
.account-content-card .slds-box.address-card-style-class {
    border-radius: 10px!important;
    border-color: rgb(230 230 230)!important;
}

.account-content-card .dxp-text-heading-medium {
    font-family: 'DM Sans';
}

.address-footer-style {
    width: 100%!important;
    display: flex!important;
    justify-content: flex-end!important;
}

button.slds-button.address-footer-button-style {
    text-decoration-line: none !important;
    background: white!important;
    border-radius: 5px!important;
    padding: 5px 10px!important;
    border: 1px solid grey!important;
    font-size: 12px!important;
}
